<div class="pedal-layout-row">
  <div class="pedal-layout-col">
    <a href="pisces">
      <img class="audio-goo-title" src="../audio/assets/pedals/images/pisces-title.png" alt="">
      <img class="audio-goo-img" src="../audio/assets/pedals/images/pisces.png" alt="">
    </a>
    <a href="goo">
      <img class="audio-goo-title" src="../audio/assets/pedals/images/goo-title.png" alt="">
      <img class="audio-goo-img" src="../audio/assets/pedals/images/goo-fuzz.png" alt="">
    </a>

  </div>
  <div class="pedal-layout-col">
    <a href="op-amp">
      <img class="opamp-title-img" src="../audio/assets/pedals/images/op-amp-title.png" alt="">
      <img src="../audio/assets/pedals/images/opamp.png" alt="">
    </a>
    <a href="sriracha">
      <img src="../audio/assets/pedals/images/sriracha-title.png" alt="">
      <img src="../audio/assets/pedals/images/sriracha.png" alt="">
    </a>
  </div>
</div>
