<ul class="spec-list" style="background-color: #{{page.bg-color}}">
  <li class="spec-list-item"><b>bypass | </b></li>
  <li class="spec-list-item"><b>circuit | </b></li>
  <li class="spec-list-item"><b>current draw | </b></li>
  <li class="spec-list-item"><b>power | </b></li>
  <li class="spec-list-item"><b style="font-size: 1.0em;">dimensions | </b></li>
  <li class="spec-list-item"><b>enclosure type | </b></li>
  <li class="spec-list-item"><b>release date | </b></li>
  <li class="spec-list-item"><b>weight | </b></li>
</ul>
<ul class="spec-list-val" style="background-color: #{{page.bg-color}}">
  <li class="spec-list-item"><p>{{page.bypass}}</p></li>
  <li class="spec-list-item"><p style="font-size: 0.75em;">{{page.circuit}}</p></li>
  <li class="spec-list-item"><p>{{page.current-draw}}</p></li>
  <li class="spec-list-item"><p style="font-size: 0.8em;">{{page.power}}</p></li>
  <li class="spec-list-item"><p style="font-size: 0.8em; padding-top: 0.3vh;">{{page.dimensions}}</p></li>
  <li class="spec-list-item"><p>{{page.enclosure-type}}</p></li>
  <li class="spec-list-item"><p>{{page.release-date}}</p></li>
  <li class="spec-list-item"><p>{{page.weight}}</p></li>
</ul>
