<!--<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UCps4sreMIHHvOV9mAhXC5MQ" data-layout="full" data-theme="default" data-count="default"></div>-->
<body style="background-color: #22012B;">
<div class="video-feed-row">
  <div class="video-feed-col">
    <div class="services">
      <h1>services</h1>
      <ul class="service-list">
        <li><p>live visual segment or set</p></li>
        <li><p>music video</p></li>
        <li><p>instagram reel/youtube short</p></li>
        <br>
        <li><p>please <a href="#">contact me</a> if interested in a commission</p></li>
      </ul>
    </div>
    <div class="unofficial-videos">
      <h1>unofficial videos</h1>
      <iframe class="unofficial-videos-iframe" src="https://www.youtube.com/embed/videoseries?si=1wjoDnHVz_0JD4o2&amp;list=PL2Yhlgt_tvweX9epG1PJ3N_5fETsVkPeT" gesture="media" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="shorts">
      <h1>shorts</h1>
      <iframe class="shorts-iframe" src="https://www.youtube.com/embed/videoseries?si=DFDTWB37ld3XumAA&amp;list=PL2Yhlgt_tvwfLp7zhDcPyZfxIJQDcrKYN" gesture="media" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
</body>
