---
layout: default
---

{% include site-header.html %}
<body class="pedal-body" style="background-color: #{{page.bg-color}}; background-image: url(../assets/pedals/images/{{page.bg-img}}); background-repeat: repeat; background-size: 15vw;">

	<main class="main  container" id="pedal-container">

		<div class="pedal-desc-page">
			<div class="pedal-desc-row">
				<div class="pedal-desc-col">
						<img src="../assets/pedals/images/{{page.pedal-image}}" alt="">
				</div>
			<div class="" id="pedal-desc-info" style="background-color: #{{page.bg-color}};">
						<img class="pedal-title-img" src="../assets/pedals/images/{{page.pedal-title}}" alt=""> <!-- 272 x 77pt -->
						{% if page.slogan-type == 'img' %}
						<img class="pedal-slogan-img" src="../assets/pedals/images/{{page.slogan-img}}" alt="">
						{% else %}
						<h1 class="pedal-slogan-img">{{page.slogan}}</h1>
						{% endif %}
						<div class="price">
							{% if page.price %}
							<div class="buy-now-btn">
								<h1 class="price-tag">${{page.price}}</h1>
							</div>
							<style>
								#buy-now-btn { margin-left: -9vw; }
							</style>
							{% endif %}
							<div class="buy-now-btn" id="buy-now-btn" style="background-color: #{{page.buy-now-color}}">
								<a href="{{page.buy-link}}"><h2 style="color: #{{page.buy-now-text-color}}">{{page.order-status}}</h2></a>
							</div>
						</div>
						<h4>{{page.description}}</h4>
				</div>
				<div class="pedal-desc-row" id="demo-video">
					{% if page.demo-link %}
					<iframe class="pedal-demo-vid" width="560" height="315" src="https://www.youtube.com/embed/TeD7MxzNzIg?si=4gBRW10Bf7wxqyZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					{% else %}
						{% if page.title == "sriracha fuzz" %}
						<div class="pepper-gif"></div>
						{% else %}
						<img class="pedal-demo-vid demo-soon" src="../assets/pedals/images/demo-soon.gif" alt="">
						{% endif %}
					{% endif %}
				</div>
				<div class="pedal-desc-row" id="pedal-desc-break">

				</div>
				<div class="pedal-desc-row" id="pedal-info-row">
						<div class="pedal-desc-col features-col" style="background-color: #{{page.bg-color}};">
							<h1>controls</h1>
							<p>{{content}} </p>
						</div>
						<div class="pedal-desc-col" id="specs-col" style="background-color: #{{page.bg-color}}">
							<h1>specifications</h1>
							{% include specs-list.html %}
						</div>
				</div>
			</div>
		</div>

	</main>

</body>

{% include site-footer.html %}
