---
layout: default
---

{% include site-header.html %}

<main class="contact">


    <div class="sitemap-wrapper">
      <div class="sitemap-pedals">
        <a href="/audio/"><h1>pedals</h1></a>
        <a href="/audio/pisces"><p> /pisces</p></a>
        <a href="/audio/goo"><p> /goo fuzz</p></a>
        <a href="/audio/opamp"><p> /op\amp fuzz</p></a>
        <a href="/audio/sriracha"><p> /sriracha fuzz</p></a>
      </div>
      <div class="sitemap-video">
        <a href="/video/"><h1>video</h1></a>
      </div>
      <div class="sitemap-resources">
        <h1>resources</h1>
        <a href="/contact"><p> /contact</p></a>
        <a href="/about"><p> /about</p></a>
        <a href="https://www.instagram.com/_glitchpit/"><p> /instagram</p></a>
        <a href="https://www.youtube.com/channel/UCps4sreMIHHvOV9mAhXC5MQ"><p> /youtube</p></a>
      </div>
    </div>


</main>

{% include site-footer.html %}
